/* global */
html {
	height: 100%;
}
body {
	font-family: verdana, arial, sans-serif;
	padding: 0;
	margin: .5em 0;
	font-size: .74em;
}
.ayuda {
	position: absolute;
	top: 0;
	left: -9999px;
	font-size: 0.0001%;
}
p {
	margin: 0;
	padding: .5em 0;
	line-height: 1.5em;
}
h1 {
	margin: 0;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 176%;
}
h2 {
	margin: 0 0 .5em 0 ;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 130%;
}
img {
	border: 0;
}

/* image positioning - left, right and center */
.left {
	float: left; 
	padding: 0 8px 0 0;
}
.right {
	float: right; 
	padding: 0 0 0 8px;
}
.center {
	display: block;
	text-align: center;
	margin: 0 auto;
}

/* block quote */
blockquote {
	font-style: italic;
	margin: 20px 0px; 
	padding: 10px 20px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

/* unordered list */
ul {
	margin: 8px 0px 0px 14px;
	padding: 0;
}
ol {
	margin: 8px 0px 0px 24px;
	padding: 0;
}
ul li {
	list-style-type: square;
	margin: 0px 0px 11px 0px; 
	padding: 0px;
	line-height: 1.5em;
}
ol li {
	margin: 0px 0px 11px 0px; 
	padding: 0px;
}
ul li ol li  {
	list-style-type: decimal;
	line-height: 1.5em;
}
ol.letras li {
	list-style-type: lower-alpha;
	margin: 8px 0 0 0;
	padding: 0;
	line-height: 1.5em;
}

/* main container */
#main {
	width: 761px;
	margin-left: auto; 
	margin-right: auto;
}

/* logo */
#logo {
	position: relative;
	padding: 2em 0;
	width: 759px;
	border: 1px solid;
}
#logo h1 {
	padding: 0 0 .5em 20px;
	font-family: verdana, arial, sans-serif;
	font-size: 150%;
	color: #FFF;
}
#logo h2 {
	padding: 0 0 0 20px;
	font-family: verdana, arial, sans-serif;
	font-size: 120%;
	color: #FFF;
}
#logo span {
	position: absolute;
	right: 5px;
	bottom: 10px;
	color: #FFF;
	font-size: 75%;
	margin: 0 10px;
	font-style: italic;
	font-weight: normal;
}

/* Migas de pan */
#migas {
	clear: both;
}
#migas ul {
	padding: 0.5em 1.2em;
	margin: 0;
	background-color: #F1F1F1;
}
#migas ul li {
	list-style: none;
	display: inline;
}
#migas ul li a {
	color: #555;
	margin: 0 1em 0 0;
	text-decoration: underline;
}
#migas ul li a:hover {
	text-decoration: none;
}

/* main content */
#content {
	width: 761px;
	height: auto;
	padding: 0;
	text-align: justify;
	overflow: hidden;
} 

/* column 1 - contains menu, news, add links and other info */
#column1 {
	width: 230px;
	float: left;
	padding: 15px 0 15px 14px;
}
#column1 h1 {
	padding: 0 0 18px 0;
}
#menu, #addlinks {
	position: relative;
	width: 216px;
	float: left;
	margin: 0 0 15px 0;
	padding: 8px 0 0 0;
	height: 184px;
}
#menu ul, #addlinks ul {
	margin: 0 auto; 
	padding: 0; 
	list-style: none; 
	text-align: left; 
	width: 216px;
} 
#menu li, #addlinks li {
	margin: 0;
	list-style: none; 
	float: left; 
} 
#menu li a, #addlinks li a {
	float: left; 
	height: 1.3em;
	text-decoration: none;
	padding: 3px 10px 4px 12px;
	width: 194px;
	border-bottom: 1px solid;
}
#menu li.internacional a {
	color: #999;
	float: left; 
	height: 1.3em;
	text-decoration: none; 
	padding: 3px 10px 4px 12px;
	width: 194px;
} 
#menu h1, #addlinks h1 {
	padding: 0 0 14px 12px;
}
.sidebaritem {
	position: relative;
	text-align: justify;
	margin: 0 0 15px 0;
	padding: 8px 14px 11px 12px;
	width: 190px;
	float: left;
	height: 244px;
	min-height: 244px;
}
.sidebaritem[id] {
	height: auto;
}

/* column 2 - page content */
#column2 {
	text-align: justify;
	padding: 0px 22px 15px 0px;
	width: 490px;
	float: right;
}
#column2 h1 {
	padding: 0px 0px 6px 0px; 
	margin: 24px 0px 12px 0px; 
	border-bottom: 2px solid;
}
.sidebaritem a, #column2 a, .sidebaritem a:hover, #column2 a:hover {
	padding: 0;
	text-decoration: none;
}
a.leer_mas {
	display: block;
	text-align: right;
}

/* footer */
#footer {
	float: left;
	padding: 9px 0px 3px 0px;
	width: 761px;
	text-align: center;
	height: 2em;
	font-size: 90%;
}
#footer a, #footer a:hover {
	text-decoration: none;
}

/* contact page - form layout */
form{
	margin-top: 0;
}
div.row {
	clear: both;
	width: 448px;
	height: 2.8em;
}
div.row label {
	cursor: pointer;
	float: left;
	width: 170px;
	text-align: right;
	padding: 2px 0 0 0;
}
div.row span.forminput {
	float: right;
	text-align: right;
} 
div.spacer { clear: both;
	width: 80px;
	height: 22px;
}

input, textarea
{ width: 259px; 
  font-family: verdana, arial, sans-serif;
  font-size: 100%;
  border: 1px solid;
}

.submit
{ font-family: verdana, arial, sans-serif;
  font-size: 100%; 
  border: 1px solid;
  width: 70px;
  height: 22px;
  cursor: pointer;
}
