body {
	padding: 50px 150px 50px 150px;
	margin: auto;
	width: 800px;
	font-family: sans-serif;
}

/* #text-1 img { */
/*     vertical-align: text-top; */
/*     margin-left: -410px; */
/*     float: left; */
/*     margin-top: -5px; */
/* } */

/* #text-1 p { */
/*     margin-left: 460px; */
/*     display: block; */
/*     text-align: left; */
/* } */

/* #text-1-1 p { */
/*     margin-left: 460px; */
/*     display: block; */
/*     text-align: left; */
/* } */

#outline-container-1-1 h3 {
    margin-left: 460px;
    display: block;
    text-align: left;
}

pre.example {
    font-size: 90%;
    overflow: auto;
    font-style: italic;
    border: 1px solid #CCC;
}

#table-of-contents {
    color: black;
    background: #FFF;
    font-size: 80%;
    padding: .5em;
    /*margin: 1em -2em 1em 1em;*/
    float: right;
    display: block;
    border: 1px solid #CCC;
    max-width: 50%;
    overflow: auto;
}

#table-of-contents a  {
    color: #003333;
}

#table-of-contents a:hover {
    color: #003333;
    text-decoration: underline;
}

#table-of-contents li {
    margin: 0px;
}

#table-of-contents h2 {
    border: none;
}

.title {
    color: #2581c4;
    padding-bottom: 7px;
    margin-bottom: 20px;
    border-bottom: 1px solid #222;
}

h2 {
    padding-bottom: 4px;
    margin-bottom: 5px;
    border-bottom: 3px solid #DDD;
}

h3 {
    color: #333333;
}

a {
    text-decoration: none;
    color: #2581c4;
}

a:visited {
    text-decoration: none;
    color: #336666;
}

a:hover {
    text-decoration: underline;
    color: #2581c4;
}


#postamble {
	margin-top: 50px;
	border-top: 1px solid #DDD;
	font-size: 0.75em;
}

#postamble p {
	margin: 0px;
}

